* {
  margin: 0
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Karla';
}

#root {
  width: 70vw;
  height: 90vh;
  background-color: #F5F7FB;
  background-image: url(../assets/blob-blue.png), url(../assets//blob-yellow.png);
  background-repeat: no-repeat no-repeat;
  background-position: bottom left, top right;
}

/* *********Intro page ********/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #293264;
}

.intro .title {
  font-weight: 700;
  font-size: 50px;
  line-height: 37px;
  margin-bottom: 2rem;
}

.intro .description {
  font-weight: 400;
  font-size: 30px;
  line-height: 19px;
}

.intro button {
  background: #4D5B9E;
  border-radius: 15px;
  font-size: 1.3rem;
  border: none;
  color: #F5F7FB;
  padding: 1em 2em;
  margin-top: 4rem;
}